<div class="detalle-container" *ngIf="!cargando; else cargandoTpl">
  <mat-card>
    <h2>Detalle {{ tipo === 'personas' ? 'persona' : 'grupo' }}</h2>

    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="campo">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>

      <mat-form-field *ngIf="tipo === 'personas'" appearance="outline" class="campo">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="apellidos">
      </mat-form-field>

      <mat-form-field appearance="outline" class="campo">
        <mat-label>Observaciones</mat-label>
        <textarea matInput formControlName="observaciones" rows="4"></textarea>
      </mat-form-field>

      <div class="botones">
        <button mat-button class="app-btn btn-save" (click)="guardarCambios()">
    <mat-icon>save</mat-icon>
    Guardar
  </button>

  <button mat-button class="app-btn btn-primary-light" (click)="addItem()">
    <mat-icon>playlist_add</mat-icon>
    Añadir item
  </button>

  <button mat-button class="app-btn" (click)="verItems()">
    <mat-icon>list</mat-icon>
    Ver items asociados
  </button>

  <button mat-button class="app-btn btn-danger" (click)="eliminar()">
    <mat-icon>delete</mat-icon>
    Eliminar
  </button>

  <button mat-button class="app-btn btn-ghost" (click)="volver()">
    <mat-icon>arrow_back</mat-icon>
    Volver
  </button>
      </div>
    </form>
  </mat-card>
</div>

<ng-template #cargandoTpl>
  <div class="cargando">Cargando datos...</div>
</ng-template>
