<!-- Selección de tipo -->
<section *ngIf="!tipoSeleccionado" class="selector-wrapper">
  <p class="section-title-lg">¿Qué deseas crear?</p>
  <div class="selector-pills">
    <button mat-button class="pill-btn" (click)="seleccionarTipo('persona')">
      <mat-icon>person</mat-icon>
      Persona
    </button>
    <button mat-button class="pill-btn" (click)="seleccionarTipo('grupo')">
      <mat-icon>group</mat-icon>
      Grupo
    </button>
  </div>
  <div class="selector-actions">
    <button mat-button class="app-btn btn-secondary" (click)="cancelar()">
    <mat-icon>arrow_back</mat-icon>
    Volver
  </button>
  </div>
</section>

<!-- Formulario -->
<form *ngIf="tipoSeleccionado"
      [formGroup]="form"
      (ngSubmit)="guardar()"
      id="nuevoForm"
      class="form-wrapper">

  <div class="form-grid">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" required />
    </mat-form-field>

    <mat-form-field *ngIf="tipoSeleccionado === 'persona'" appearance="outline" class="full-width">
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="apellidos" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Observaciones</mat-label>
      <textarea matInput formControlName="observaciones"></textarea>
    </mat-form-field>
  </div>

  <div class="form-actions">
    <button mat-button class="app-btn btn-save" type="submit">
    <mat-icon>save</mat-icon>
    Guardar
  </button>
     <button mat-button class="app-btn btn-cancel" (click)="cancelar()">
    <mat-icon>arrow_back</mat-icon>
    Volver
  </button>
  
  </div>
</form>