:root {
  /* Paleta de marca */
  --brand-100: #d5f8f5;
  --brand-200: #6ce5e8;
  --brand-300: #41b8d5;
  --brand-400: #5ce1e6;
  --brand-500: #0cc0df;

  --bg: #ffffff;
  --muted-text: #4a4a4a;
  --card-bg: #ffffff;
  --surface: #f7fcfb;
  --shadow: 0 2px 10px rgba(6, 30, 35, 0.06);
}
