/* You can add global styles to this file, and also import other style files */
/* src/styles.scss - punto de entrada global */

/* 1) tema Material  */
@use './custom-theme'; 

/*Variables de marca y utilidades */
@use './_vars';

/* Estilos de diseño compartidos */
@use './_layout';

/* Global button styles and utilities */
@use './_buttons';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
-webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
 }
