<div class="container">
  <h1>Items asociados</h1>

  <div class="top-actions">
    <button mat-button class="app-btn btn-primary-light" (click)="addItem()">
    <mat-icon>add</mat-icon>
    Añadir otro item
  </button>
  <button mat-button class="app-btn btn-secondary" (click)="volver()">
    <mat-icon>arrow_back</mat-icon>
    Volver al detalle
  </button>
  </div>

  <div *ngIf="items$ | async as items; else cargando">
    <div *ngIf="items.length > 0; else noData">
      <div class="items-grid">
        <mat-card *ngFor="let item of items" class="item-card">
          <div class="item-header">
            <strong>{{ item.descripcion }}</strong>
            <span [style.background]="item.color" class="color-preview"></span>
          </div>

          <div class="item-body">
            <p>Fecha: {{ item.fecha | date }}</p>
          </div>

          <div class="acciones">
           <button mat-button class="app-btn" (click)="verRegistros(item.id)">
    <mat-icon>table_rows</mat-icon>
    Ver registros
  </button>
  <button mat-button class="app-btn btn-primary-light" (click)="nuevoRegistro(item.id)">
    <mat-icon>note_add</mat-icon>
    Añadir registro
  </button>
  <button mat-button class="app-btn" (click)="editarItem(item.id)">
    <mat-icon>edit</mat-icon>
    Editar
  </button>
  <button mat-button class="app-btn btn-danger" (click)="eliminarItem(item.id)">
    <mat-icon>delete</mat-icon>
    Eliminar
  </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <ng-template #noData>
    <div class="no-data">
      <p>No hay items todavía.</p>
    </div>
  </ng-template>

  <ng-template #cargando>
    <div class="no-data">
      <p>Cargando registros...</p>
    </div>
  </ng-template>

  
</div>
