.toolbar {
  display: flex;
  justify-content: space-between;
}

.app-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.contenido {
  padding: 2rem;
  position: relative;
}

.add-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}