<main class="dashboard-wrapper">
  <mat-card class="main-card">
    <div class="dashboard-header">
      <!-- Toggle Personas / Grupos -->
      <mat-button-toggle-group
        [(ngModel)]="vistaActual"
        (change)="cambiarVista($event.value)"
        class="view-toggle"
        exclusive
      >
        <mat-button-toggle value="personas">
          <mat-icon>person</mat-icon>
          Personas
        </mat-button-toggle>
        <mat-button-toggle value="grupos">
          <mat-icon>group</mat-icon>
          Grupos
        </mat-button-toggle>
      </mat-button-toggle-group>
              <!-- Botón -->
        <button mat-button class="app-btn add-btn btn-primary-light" (click)="crearNuevo()">
        <mat-icon>add</mat-icon> Añadir Persona/Grupo</button>

    </div>

    <!-- VISTA GRID -->
    <section >
      <div class="grid">
        <mat-card
          class="card-item clickable-item"
          *ngFor="let item of (vistaActual === 'personas' ? personas$ : grupos$) | async"
          (click)="irADetalle(item, vistaActual)"
        >
          <div class="card-top">
            <mat-icon class="card-icon">{{ vistaActual === 'personas' ? 'person' : 'group' }}</mat-icon>
          </div>
          <div class="card-body">
            <h3 class="card-name">{{ item.nombre }}</h3>
            <h4 class="card-surname" *ngIf="vistaActual === 'personas'">{{ item.apellidos }}</h4>
            <p class="card-observacion" *ngIf="item.observaciones">{{ item.observaciones }}</p>
          </div>
        </mat-card>
      </div>
    </section>
  </mat-card>


</main>

