<h1 class="login-title">Hola de nuevo</h1>
<p class="login-subtitle">Accede a tu cuenta</p>

<form #loginForm="ngForm" (ngSubmit)="onLogin()" class="form-wrapper">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      required
      [(ngModel)]="email"
      name="email"
      (ngModelChange)="clearError()"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Contraseña</mat-label>
    <input
      matInput
      type="password"
      required
      [(ngModel)]="password"
      name="password"
      (ngModelChange)="clearError()"
    />
  </mat-form-field>

  

  <div class="form-actions">
    <button mat-raised-button class="btn-primary brand-button" type="submit">
      Inicia sesión
    </button>
  </div>
  <div class="form-actions">
    <button mat-raised-button class="btn-primary brand-button" type="submit">
      He olvidado mi contraseña
    </button>
  </div>
</form>

<p class="helper-text">
  ¿No tienes cuenta?
  <button mat-button class="link-btn" type="button" (click)="goToRegister()">Regístrate aquí</button>
</p>

<p *ngIf="verificationMessage" class="msg warn">
  {{ verificationMessage }}
  <button mat-button class="btn-warn-text" type="button" (click)="resendVerificationEmail()">
    Reenviar correo de verificación
  </button>
</p>

<p *ngIf="errorMessage" class="msg error">
  {{ errorMessage }}
</p>
