<div class="auth-container">
  <div class="auth-card">

    <div class="auth-header"> 
      <div class="logo-badge"> <img src="assets/progressionapp.png" alt="Logo" class="auth-logo" /> 
      </div> 
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onLogin()" class="auth-form">

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          required
          [(ngModel)]="email"
          name="email"
          (ngModelChange)="clearError()"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          type="password"
          required
          [(ngModel)]="password"
          name="password"
          (ngModelChange)="clearError()"
        />
      </mat-form-field>

      <button type="submit" class="app-btn auth-btn-primary">
        Inicia sesión
      </button>

      <button
        type="button"
        class="app-btn app-btn--small auth-btn-secondary"
        (click)="forgotPassword()"
        [disabled]="!email"
        title="Introduce tu correo para restablecer tu contraseña"
      >
        He olvidado mi contraseña
      </button>

      <p class="auth-subtitle">
        ¿No tienes cuenta?
        <button type="button" class="app-btn auth-btn-primary" (click)="goToRegister()">
          Regístrate aquí
        </button>
      </p>

      <p *ngIf="verificationMessage" class="auth-msg warn">
        {{ verificationMessage }}
        <button
          mat-button
          class="auth-link-warn"
          type="button"
          (click)="resendVerificationEmail()"
        >
          Reenviar correo
        </button>
      </p>

      <p *ngIf="errorMessage" class="auth-msg error">
        {{ errorMessage }}
      </p>

    </form>
  </div>
</div>
