<div class="registro-list">
  <h2>Registros del ítem</h2>

  <button mat-raised-button color="primary" (click)="nuevoRegistro()">Añadir registro</button>
  <button mat-raised-button color="primary" (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="accent"  (click)="verEstadisticas()"> Ver estadísticas </button>


  <div *ngIf="(registros$ | async) as registros; else cargando">
    <div *ngIf="registros.length > 0; else noData">
      <mat-card *ngFor="let reg of registros" class="registro-card">
        <div class="registro-info">
        <p><strong>Fecha:</strong> {{ reg.fecha?.toDate() | date: 'shortDate' }}</p>
        <p><strong>Observaciones:</strong> {{ reg.observaciones }}</p>
        </div>
        <div class="registro-acciones">
          <button mat-button color="primary" (click)="editarRegistro(reg.id)">Editar</button>
          <button mat-button color="warn" (click)="eliminarRegistro(reg.id)">Eliminar</button>
        </div>
        
      </mat-card>
    </div>
  </div>

  <ng-template #noData><p>No hay registros todavía.</p></ng-template>
  <ng-template #cargando><p>Cargando registros...</p></ng-template>
  
</div>
